*{
 padding:0;
 margin: 0;
 box-sizing: border-box;
}
.footer{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 10px;
    display: flex;
    justify-content: end;
}
span{
  font-style: italic;
}