*{
    padding: 0;
    margin: 0;
}
h1{
    display: flex;
    justify-self: center;
}
.user_status{
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}
.user_btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.online{
    background-color: green;
}
.offline{
    background-color: red;
}
.busy{
    background-color: grey;
}