*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1{
    width: 100%; 
    display: flex;
    background-color: white;
    color: black;
    text-align: start; 
}
.img{
    width: 25%;
}
img{
    width: 80%;
    height: 100%;
}
.stu_info{
    font-size: 20px;
    padding-bottom:20px ;
    margin: 10px;
}