
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}


.product-grid {
  display: grid;
  grid-template-columns: 1fr; 
}


@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}
