*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.output{
    display: flex;
    justify-content: center;
}
.red{
    color: red;
}
.text{
    color: black;
}